@import url('/static/css/lucide.css');
@import url('/static/css/reset.css');

@font-face {
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/CascadiaMono-Regular.ttf') format('truetype');
	font-family: 'Cascadia Mono';
	font-display: swap;
}

/* Default to dark theme if invalid value is found */
html,
[data-theme='dark'],
[data-theme='dark'] .divergent-accent {
	--accent: hsl(var(--accent-hue), 70%, 40%);
	--bg-1: oklch(.15 .0125 var(--accent-hue));
	--bg-2: oklch(.1 .0125 var(--accent-hue));
	--bg-3: oklch(.2 .025 var(--accent-hue));
	--text-1: oklch(.95 .0625 var(--accent-hue));
	--text-2: oklch(.8 .0625 var(--accent-hue));
	--text-3: oklch(.7 .0625 var(--accent-hue));
	--font-stack-base: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	--font-stack-mono: "Cascadia Mono", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	--font-stack-dyslexic: 'OpenDyslexic', 'Comic Sans MS', 'Comic Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
}

[data-theme='light'],
[data-theme='light'] .divergent-accent {
	--accent: hsl(var(--accent-hue), 100%, 25%);
	--bg-1: oklch(.975 .0625 var(--accent-hue));
	--bg-2: oklch(.925 .0625 var(--accent-hue));
	--bg-3: oklch(.8 .0625 var(--accent-hue));
	--text-1: oklch(.1 .0625 var(--accent-hue));
	--text-2: oklch(.2 .0625 var(--accent-hue));
	--text-3: oklch(.3 .0625 var(--accent-hue));
}

html {
	font-family: var(--font-stack-base);

	&[data-motion="true"] {
		transition: --accent-hue 2500ms ease-out;
		scroll-behavior: smooth;
	}
}

.switch {
	--switch-width: 4em;
	--padding: 4px;
	--knob-size: calc((var(--switch-width) / 2) - (var(--padding) * 2));

	display: inline-block;
	position: relative;
	aspect-ratio: 2 / 1;
	width: var(--switch-width);

	input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		inset: 0;
		border-radius: 9e9px;
		background-color: oklch(20% 0 300);

		[data-motion='true'] & {
			transition: background-color .2s ease;
		}

		&::before {
			position: absolute;
			top: var(--padding);
			left: var(--padding);
			z-index: 2;
			border-radius: 9e9px;
			background-color: white;
			width: var(--knob-size);
			height: var(--knob-size);
			content: "";
		}

		[data-motion='true'] &::before {
			transition: transform 200ms cubic-bezier(.4, 0, .2, 1);
		}
	}

	input:checked+.slider {
		background-color: oklch(60% .13 145);

		&::before {
			transform: translateX(calc(var(--switch-width) - var(--knob-size) - (var(--padding) * 2)));
		}
	}

	input:hover+.slider,
	input:focus-visible+.slider {
		outline: 2px solid oklch(60% .13 145);
		outline-offset: 2px;
	}

	.state-text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		pointer-events: none;
		font-family: sans-serif;
		user-select: none;

		&:first-of-type {
			left: .5em;
		}

		&:last-of-type {
			right: .5em;
		}

		&::before,
		&::after {
			color: white;
		}
	}
}

#enter-site {
	--anim-length: 50ms;
	display: flex;
	justify-content: safe center;
	align-items: center;
	text-align: center;

	&:hover,
	&:focus-visible {
		scale: 1.1;
		filter: brightness(1.1);
	}

	&.active,
	&:active {
		scale: .9;
		filter: brightness(1.5) saturate(.6);
	}

	[data-motion='true'] & {
		transition:
			scale var(--anim-length) linear,
			filter var(--anim-length) linear;
	}
}

#config-menu {
	display: flex;
	position: fixed;
	justify-content: safe center;
	align-items: safe center;
	z-index: 1;
	backdrop-filter: grayscale(.5);
	box-sizing: border-box;
	border: unset;
	background: oklch(0 0 0 / .9);
	width: 100dvw;
	max-width: unset;
	height: 100dvh;
	max-height: unset;
	color: white;

	* {
		color: inherit;
	}

	[data-motion='true'] & {
		transition:
			opacity 1s ease-out,
			border-radius 1s ease-out,
			translate 1s ease-out;
	}

	&:not([open]) {
		translate: 0 100%;
		opacity: 0;
		border-radius: 128px;
	}

	h1 {
		text-align: center;
	}

	.subtext {
		margin-top: 10px;
		max-width: calc(100% - 4em);
	}

	form {
		display: grid;
		width: 25svw;
		min-width: 15em;
		max-width: 25em;
		height: fit-content;
		max-height: 100%;

		.option {
			display: grid;
			grid-template-columns: 2em 1fr 4em;
			margin-top: 20px;
			width: 100%;
			height: fit-content;
		}
	}

	#enter-site {
		margin-top: 20px;
		border: none;
		border-radius: 8px;
		background-color: oklch(60% .13 145);
		padding: 12px 24px;
		color: inherit;

		&:hover,
		&:focus-visible {
			cursor: pointer;
		}
	}
}

.button-row {
	display: flex;
	flex-direction: row;
	box-shadow: 0 0 1em var(--bg-3);
	border-radius: 9e9px;
	width: fit-content;

	button {
		display: flex;
		justify-content: safe center;
		align-items: center;
		border: none;
		border-top: color-mix(in srgb, var(--text-1) 30%, var(--bg-1) 70%) solid 1px;
		border-radius: 0;
		border-inline-width: 0;
		background: linear-gradient(color-mix(in srgb, var(--bg-1) 70%, var(--text-3) 30%) 0%, color-mix(in srgb, var(--bg-1) 90%, var(--text-3) 10%) 100%);
		[data-theme="light"] & {
			background: linear-gradient(color-mix(in srgb, var(--bg-1) 90%, var(--text-3) 10%) 0%, color-mix(in srgb, var(--bg-1) 70%, var(--text-3) 30%) 100%);
		}
		isolation: isolate;
		aspect-ratio: 1/1;
		height: 2em;
		color: var(--text-1);
		text-align: center;

		&:not([disabled]):hover i,
		&:not([disabled]):focus-visible i {
			transform: rotateZ(15deg);
			transform-origin: center;
			cursor: pointer;
		}

		&:not([disabled]):active i {
			scale: .8;
		}

		&[disabled] i {
			scale: .8;
			opacity: .5;
		}

		[data-motion="true"] & i {
			transition: transform 50ms linear;
		}
	}

	> :first-child button,
	>button:first-child {
		border-top-left-radius: 9e9px;
		border-bottom-left-radius: 9e9px;

	}

	> :last-child button,
	>button:last-child {
		border-top-right-radius: 9e9px;
		border-bottom-right-radius: 9e9px;
	}
}

@font-face {
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/OpenDyslexic-Regular.otf') format('opentype');
	font-family: 'OpenDyslexic';
	font-display: swap;
}

html[data-dyslexic='true'],
.font-stack-dyslexic {
	font-family: var(--font-stack-dyslexic) !important;
}

.subtext {
	color: var(--text-2);
	font-size: .9em;
}

a {
	&:not(:has(button))::after {
		content: "\e102";
		font-family: "lucide";
		font-style: normal;
		font-weight: normal;
		display: inline-block;
		margin-left: .5ex;
		vertical-align: middle;
	}

	&:has(button) {
		text-decoration: none;
	}
}